body {
    background: lightgrey;
}

nav {
    text-transform: uppercase;
}

nav a {

}

nav a:hover{
    background: goldenrod;
    text-decoration: none;
}

.logo {
    float: left;
    height: 70px;
    margin-left: 10px; 
}

.bg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.makeVisible {
    color: black;
}

.fullwidth{
    width: 60%;
    height: auto;
}

.dropdown-menu{
    background: #41474D;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    background: goldenrod;

}

.bg-darky {
  background-color: #403430;
}

a.bg-darky:hover, a.bg-darky:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #403430;
}

.form-row2 {
  display: flex;

  margin-right: -5px;
  margin-left: -5px;
}

.form-row2 > .col,
.form-row2 > [class*="col-"] {
  margin-right: 10px;
  padding-left: 5px;
}

.homeimages{
  height: 250px;
  width: 300px;
}
#regionalPropertyCarousel{
  margin: auto; 
}

.inLine{
    padding-top: .75em;
    padding-bottom: .75em;
}
.conor{
    color:white;
    font-size:.75em;
}

.location{
    text-align:center;
    font-size:1.5em;
    font-weight:bold;
}

.title-space {
    margin-top:10px;
}

.card-header {
    background-color: #403430;
    color:white;
    text-align:center
}

.card-body {
    background-color:wheat;
}